<h1>All Users</h1>
<ul>
  <% @users.each do |user| %>
    <li><%= user.username %></li>
    <li><%= user.email %></li>
    <li><%= user.type %></li>
    <li><%= user.status %></li>
    <li><%= user.created_at %></li>
    <li><%= user.profession if user.profession %></li>
    <li><%= user.service if user.service %></li>
    <%= link_to 'Edit user', edit_user_path(user) %>
  <% end %>
</ul>
