<h1>All novices</h1>
<ul>
  <% @novices.each do |novice| %>
    <li><%= novice.username %></li>
    <li><%= novice.email %></li>
    <li><%= novice.type %></li>
    <li><%= novice.status %></li>
    <li><%= novice.created_at %></li>
    <li><%= novice.profession if novice.profession %></li>
    <li><%= novice.service if novice.service %></li>
    <%= link_to 'Edit novice', edit_novice_path(novice) %>
  <% end %>
</ul>
