<h1>All novices</h1>
<ul>
  <% @novices.each do |novice| %>
    <li><%= novice.username %></li>
    <li><%= novice.email %></li>
    <li><%= novice.type %></li>
    <li><%= novice.status %></li>
    <li><%= novice.created_at %></li>
    <%= link_to 'Edit novice\'s status', edit_novice_path(novice) %><br><br>
  <% end %>
</ul>
